@header_height: 70px;
@text_color: #7a7a7a;
@nav_color: white;
@nav_hover_color: #0093dd;
@logo_color: white;
@background: #ff6600;

/* global reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
    background-color: #FFF;
    font: 13.34px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: small;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

/* elements */
body {
    background: white;
    color: @text_color;
    a {
        color: @text_color;
    }
}
iframe {
    background-color: @background;
    display: block;
}
.background-video {
    width: 100%;
    height: 115%;
    border: none;
}
.sticky {
    position: relative;
    top: 0px;
}
.fixed {
    position: fixed;
}
.dropdown.open
    > a {
    background-color: @background !important;
    color: white;
}
.dropdown-menu {
    background: @background;
    border: 1px solid @text_color !important;
    li {
        margin: 0px;
        a {
            margin: 10px;
        }
    }
}
.collapsing, .collapse.in {
    background-color: @background;
    border-collapse: collapse;
}
header {
    vertical-align: middle;
    height: @header_height;
    .navbar-header {
        button {
            border: 1px solid desaturate(@nav_hover_color, 30%);
            margin-top: 18px;
            .icon-bar {
                border: 1px solid @nav_hover_color;
            }
        }
    }
    nav {
        width: 100%;
        height: @header_height;
        color: @nav_color;
        padding: 0px 8%;
        position: absolute;
        background-color: @background;
        border-radius: 0px !important;
        li {
            display: inline-block;
            font-size: 13px;
            letter-spacing: .1em;
            text-transform: uppercase;
        }
        > li {
            margin-left: 40px;
        }
        a {
            font-weight: 500;
            margin-top: 10px;
            &.navbar-brand {
                color: @logo_color !important;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: .2em;
                &:hover {
                    color: @nav_hover_color !important;
                }
            }
            &:hover {
                color: @nav_hover_color !important;
                background-color: @background !important;
            }
            &:visited {
                color: @nav_color;
            }
        }
        .icon-bar {
        }
    }
}
footer {
    height: @header_height;
    margin-top: 30px;
    vertical-align: middle;
}
