---
layout: video
title: Brizi &ndash; Above it All
main: true
---

<section>
    <h3 class="tagline">The World's First Social Drone Technology.</h3>
</section>

<section class="description">
    <div class="blimp box">
        <img src="{{ site.baseurl }}images/info_box1.png">
        <h3>take flight</h3>
        <p>
            Broadcast the view from above from Brizi's interactive blimp.
        </p>
    </div>
    <div class="control box">
        <img src="{{ site.baseurl }}images/info_box2.png">
        <h3>collectively engage</h3>
        <p>
            Access interactive controls and capture instant highlights.
        </p>
    </div>
    <div class="share box">
        <img src="{{ site.baseurl }}images/info_box3.png">
        <h3>digitize &amp; amplify</h3>
        <p>
            Instantly share brand integrated moments to social media.
        </p>
    </div>
</section>

<section class="what" id="what">
    <p>
        Brizi enriches brand engagement through the power of audience-generated content.
    </p>
</section>

<section class="features" id="features">
    <h4>Features</h4>
    <hr>
    {% for feature in site.data.features %}
    <div class="feature">
        <img src="{{ site.baseurl }}images/{{ feature.image }}">
        <h5>{{ feature.title }}</h5>
        <!-- <p>
            {{ feature.words }}
        </p> -->
    </div>
    {% endfor %}
<!--{% include fly_button.html %} -->
</section>

<section class="portfolio" id="portfolio">
    <h4>Brizi in Action</h4>
    <hr>
    <div id="bubble-container" style="height: 704px; width: 704px;">
        <div class="bubble-wrapper" id="bubble1">
            <div class="bubble" id="main-bubble">
                <img id="blogo" src="{{ site.baseurl }}images/b-white.png">
            </div>
        </div>
        <a href="{{ site.baseurl }}event/doors-open/">
        <div class="bubble-wrapper" id="bubble2">
            <div class="bubble" id="item2">
                <img style="height:100%" src="{{ site.baseurl }}images/events/doors/main.jpg">
                <h2></h2>
            </div>
        </div>
        </a>
        <a href="{{ site.baseurl }}event/iotum/">
        <div class="bubble-wrapper med" id="bubble3">
            <div class="bubble" id="item3">
                <img style="height:100%" src="{{ site.baseurl }}images/events/iotum/main.jpg">
                <h2></h2>
            </div>
        </div>
        </a>
        <a href="{{ site.baseurl }}event/nbtc/">
        <div class="bubble-wrapper med" id="bubble4">
            <div class="bubble" id="item4">
                <img style="height:100%" src="{{ site.baseurl }}images/events/nbtc/main.jpg">
                <h2></h2>
            </div>
        </div>
        </a>
        <a href="{{ site.baseurl }}event/prototype/">
        <div class="bubble-wrapper med" id="bubble5">
            <div class="bubble" id="item5">
                <img style="height:100%" src="{{ site.baseurl }}images/events/prototype/main.jpg">
                <h2></h2>
            </div>
        </div>
        </a>
        <a href="{{ site.baseurl }}event/tedx/">
        <div class="bubble-wrapper med" id="bubble6">
            <div class="bubble" id="item6">
                <img style="height:100%" src="{{ site.baseurl }}images/events/tedx/main.jpg">
                <h2></h2>
            </div>
        </div>
        </a>

        <div id="line1" class="line"></div>
        <div id="line2" class="line"></div>
        <div id="line3" class="line"></div>
        <div id="line4" class="line"></div>
        <div id="line5" class="line"></div>

        <div id="blue1" class="gps_ring"></div>
        <div id="blue2" class="gps_ring need_fast"></div>
        <div id="blue3" class="gps_ring need_slow"></div>
        <div id="blue4" class="gps_ring"></div>
        <div id="blue5" class="gps_ring need_fast"></div>
        <div id="blue6" class="gps_ring need_slow"></div>
        <div id="blue7" class="gps_ring"></div>
        <div id="blue8" class="gps_ring need_fast"></div>
        <div id="blue9" class="gps_ring need_slow"></div>
        <div id="blue10" class="gps_ring"></div>
        <div id="blue11" class="gps_ring need_fast"></div>
        <div id="blue12" class="gps_ring need_slow"></div>
        <div id="blue13" class="gps_ring"></div>
        <div id="blue14" class="gps_ring need_fast"></div>
        <div id="blue15" class="gps_ring need_slow"></div>
        <div id="blue16" class="gps_ring"></div>
        <div id="blue17" class="gps_ring need_fast"></div>
        <div id="blue18" class="gps_ring need_slow"></div>
        <div id="blue19" class="gps_ring"></div>
        <div id="blue20" class="gps_ring need_fast"></div>
        <div id="blue21" class="gps_ring need_slow"></div>
        <div id="blue22" class="gps_ring"></div>
        <div id="blue23" class="gps_ring need_fast"></div>
        <div id="blue24" class="gps_ring need_slow"></div>
        <div id="blue25" class="gps_ring"></div>
        <div id="blue26" class="gps_ring need_fast"></div>
        <div id="blue27" class="gps_ring need_slow"></div>
        <div id="blue28" class="gps_ring need_slow"></div>
        <div id="blue29" class="gps_ring need_slow"></div>
        <div id="blue30" class="gps_ring need_slow"></div>
        <div id="blue31" class="gps_ring need_slow"></div>
        <div id="blue32" class="gps_ring need_slow"></div>
        <div id="blue33" class="gps_ring need_slow"></div>
    </div>
</section>

<section class="contact" id="contact">
    <div class="words box">
        <h3>Get in touch!</h3>
        <p>
            Sounds interesting? We'd love to tell you more!

            <a class="typeform-share link" id="contactButton" href="https://brizi.typeform.com/to/y32oZC" data-mode="2" target="_blank">
                Drop us a line!
            </a>
        </p>
    </div>
    <div class="map box">
        <img src="http://maps.googleapis.com/maps/api/staticmap?center=mars+discovery+district&zoom=15&scale=false&size=260x260&maptype=roadmap&sensor=false&format=png&visual_refresh=true&markers=size:mid%7Ccolor:red%7Cmars+discovery+district", alt="Map of Brizi @ MaRS Discovery District">
        <p>
            We're based in the MaRS Discovery Tower<br>
            101 College St. Toronto, ON, Canada, M5G 1L7
        </p>
    </div>
</section>

<!--
<section id="partners">
    <h4>Partners</h4>
    <hr>
    <a href="http://thenext36.ca/"><img class="sponsor" src="{{ site.baseurl }}images/n36.jpg"></a>
    <a href="http://www.marsdd.com/clients-and-tenants/brizi/"><img class="sponsor" src="{{ site.baseurl }}images/MaRS.png"></a>
    <a href="http://www.osler.com/"><img class="sponsor" src="{{ site.baseurl }}images/osler.png"></a>
</section>
-->
