---
layout: default
permalink: /team/
---

<section>
    <h4>We're a passionate team of inventors, roboticists, and marketing experts in the new digital age.</h4>
    <hr>
    {% for employee in site.data.people.employees %}
    <div class="box employee">
        <img src="{{ site.baseurl }}images/{{ employee.photo }}">
        <h5 class="name">
            {{ employee.name }}
        </h5>
        <h6 class="title">
            {{ employee.title }}
        </h6>
    </div>
    {% endfor %}
</section>
<section>
    <h4>Advisors</h4>
    <hr>
    {% for employee in site.data.people.directors %}
    <div class="box employee mentor">
        <img src="{{ site.baseurl }}images/{{ employee.photo }}">
        <h5 class="name">
            {{ employee.name }}
        </h3>
        <h6 class="title">
            {{ employee.title }}
        </h6>
    </div>
    {% endfor %}
</section>
