<footer>
    <span class="copyright">
        Brizi &copy; {{ site.time | date: "%Y" }} | <a href="mailto:{{ site.email }}">{{ site.email }}
        </a> | <a href="http://app.box.com/shared/static/ttt22jsotskcc6lrzuhj.pdf">Privacy Policy</a>
    </span>
    <span class="social">
        <a href="http://facebook.com/flybrizi"><img src="{{ site.baseurl }}images/facebook1.svg"></a>
        <a href="http://twitter.com/flybrizi"><img src="{{ site.baseurl }}images/twitter1.svg"></a>
        <a href="mailto:hello@flybrizi.com""><img src="{{ site.baseurl }}images/email.svg"></a>
    </span>
</footer>
