<header>
    <nav class="navbar navbar-default sticky" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}images/brizi.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="smoothscroll" href="{{ site.baseurl }}#home">home</a></li>
                    <li><a class="smoothscroll" href="{% if page.main != true %}{{ site.baseurl }}{% endif %}#description">how it works</a></li>                    
                    <li><a class="smoothscroll" href="{% if page.main != true %}{{ site.baseurl }}{% endif %}#features">features</a></li>
                    <li><a class="smoothscroll" href="{% if page.main != true %}{{ site.baseurl }}{% endif %}#portfolio">brizi in action</a></li>
                    <li><a class="smoothscroll" href="{% if page.main != true %}{{ site.baseurl }}{% endif %}#contact">contact us</a></li>
                    <!--<li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">company <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ site.baseurl }}team/">team</a></li>
                            <li><a href="http://angel.co/brizi/jobs">careers</a></li>
                            <li><a href="{% if page.main != true %}{{ site.baseurl }}{% endif %}#contact" class="smoothscroll">contact us</a></li>
                        </ul>
                    </li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
