<!DOCTYPE html>
<html>
    <head>

        <!-- meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <title>{{ page.title }}</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="{{ site.baseurl }}images/favicon_320.png" />
        <link rel="shortcut icon" href="{{ site.baseurl }}images/favicon_16.ico" type="image/x-icon" />

        <!-- CSS -->
        <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/portfolio.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">

    </head>
    <body>

{{ content }}

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}js/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}js/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}js/portfolio.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}js/main.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-51267020-1', 'flybrizi.com');
            ga('send', 'pageview');
        </script>

    </body>
</html>
