<!DOCTYPE html>
<html>
    <head>

        <!-- meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

        <title>{{ page.title }}</title>

        <!-- favicon -->
        <link rel="shortcut icon" href="{{ site.baseurl }}images/favicon_320.png" />
        <link rel="shortcut icon" href="{{ site.baseurl }}images/favicon_16.ico" type="image/x-icon" />

        <!-- CSS -->
        <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="{{ site.baseurl }}css/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/syntax.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/portfolio.css">
        <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
        
        <!-- magnificPopup for photo gallery -->
        <link rel="stylesheet" href="magnific-popup/magnific-popup.css"> 

    </head>
    <body>

{{ content }}

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}js/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}js/jquery.localScroll.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}js/jquery.waypoints.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}js/portfolio.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-51267020-1', 'flybrizi.com');
        ga('send', 'pageview');
    </script>
        
    <!--magnific media popup plugin-->
    <script type="text/javascript" src="{{ site.baseurl }}js/main.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.js"></script>
        <script>
            $('#open-popup-1').magnificPopup({
                items: [
                  {
                    src: 'http://ec12.cdn.cincopa.com/IMG_3471.JPG?o=1&res=21&cdn=ec&p=y&pid=390385&ph3=g1vmcjrgyprwpw2bat3yy22b34exaeot&d=AsDA7AQ7MaAAv2BwA0xQYnA&as=mp3',
                    title: 'Doors Open'
                  },
                  {
                    src: 'http://ec12.cdn.cincopa.com/IMG_3465.JPG?o=1&res=23&cdn=ec&p=y&pid=390385&ph3=xhm4fqsuqw04abup5jtsoqo0nk10ufly&d=AsDA7AQ7MaAAv2BwA0xQYnA&as=mp3',
                    title: 'Doors Open 2' // this overrides default type
                  },
                ],
                gallery: {
                  enabled: true
                },
                type: 'image' // this is a default type
            });
            $('#open-popup-2').magnificPopup({
                items: [
                  {
                    src: 'http://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Peter_%26_Paul_fortress_in_SPB_03.jpg/800px-Peter_%26_Paul_fortress_in_SPB_03.jpg',
                    title: 'Peter & Paul fortress in SPB'
                  },
                  {
                    src: 'https://www.youtube.com/watch?v=v9VORVmleiY',
                    type: 'iframe' // this overrides default type
                  },
                ],
                gallery: {
                  enabled: true
                },
                type: 'image' // this is a default type
            });
            $('#open-popup-3').magnificPopup({
                items: [
                  {
                    src: 'http://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Peter_%26_Paul_fortress_in_SPB_03.jpg/800px-Peter_%26_Paul_fortress_in_SPB_03.jpg',
                    title: 'Peter & Paul fortress in SPB'
                  },
                  {
                    src: 'https://www.youtube.com/watch?v=v9VORVmleiY',
                    type: 'iframe' // this overrides default type
                  },
                ],
                gallery: {
                  enabled: true
                },
                type: 'image' // this is a default type
            });
            $('#open-popup-4').magnificPopup({
                items: [
                  {
                    src: 'http://ec12.cdn.cincopa.com/IMG_3544.JPG?o=1&res=74&cdn=ec&p=y&pid=390385&ph3=voqm4yldqlkvbfzjnw1rp43e0jbalvxr&d=AsDA7AQ7MaAAIpCwAEqIvtJ&as=mp3',
                    title: 'Peter & Paul fortress in SPB'
                  },
                  {
                    src: 'http://ec12.cdn.cincopa.com/Brizi2b-2b03-HD.mp4.mp4?o=6&res=72&cdn=ec&pid=390385&ph3=f42ks0ae0rlbtgtqbqctn5nnmzqk1gak&d=AsDA7AQ7MaAAIpCwAEqIvtJ&p=y&range=yes&a=y&fakelastparam=ffffff',
                    type: 'iframe' // this overrides default type
                  },
                ],
                gallery: {
                  enabled: true
                },
                type: 'image' // this is a default type
            });
            $('#open-popup-5').magnificPopup({
                items: [
                  {
                    src: 'http://upload.wikimedia.org/wikipedia/commons/thumb/6/64/Peter_%26_Paul_fortress_in_SPB_03.jpg/800px-Peter_%26_Paul_fortress_in_SPB_03.jpg',
                    title: 'Peter & Paul fortress in SPB'
                  },
                  {
                    src: 'https://www.youtube.com/watch?v=v9VORVmleiY',
                    type: 'iframe' // this overrides default type
                  },
                ],
                gallery: {
                  enabled: true
                },
                type: 'image' // this is a default type
            });
        </script>
    </body>
</html>
